body{
    font-family:Arial,sans-serif;
    margin:0;
    background:#111;
    color:#eee;
    padding:20px
}

h1{
    text-align:center;
    color:#ff6600
} 

.item{
    background:#222;
    padding:15px;
    margin:10px auto;
    max-width:700px;
    border-radius:8px;
    display:flex;
    align-items:center;
    gap:20px
}

.rank{
    font-size:2.5em;
    font-weight:bold;
    color:#ff6600;
    width:60px;
    text-align:center
}

.info{
    flex:1
}

.name{
    font-size:1.3em;
    font-weight:bold
}

.type{
    color:#aaa
}

.rating{
    color:#ff0
}
img {
    width: 20%;
}
